*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Courier Prime", monospace;
  line-height: 1;
  /* background-color: #f1f3f5; */
  background-color: #fcc419;
  overflow-x: hidden;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 11px;
  font-size: 2rem;
  padding: 1.2rem 2.4rem;
  background-color: #111;
  color: #f7f7f7;
  border: 5px solid #f06595;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #aaa;
  color: #111;
}

.hidden {
  display: none;
}
